xgboost==2.0.1
matplotlib==3.7.3
seaborn==0.12.2
scikit-learn==1.2.2
nltk==3.2.4
tqdm
pandas==2.0.3
pyspellchecker==0.6.2
tensorflow==2.13.0
jupyter_client==7.4.9
jupyter_core==4.12.0
jupyterlab-pygments==0.2.2

